# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

docs/

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Data
*.db
*.db-journal

# Vector DB
vector_db/

# Logs
*.log
